#header {
    background: url("../Images/HEADER_BG_DESKTOP.jpg") no-repeat center top / cover;
    // background-size:cover;

    .header-content {
        min-height: calc(100vh - 160px);
        display: flex;
        align-items: center;
    }
}

#opportunities {
    padding: 4rem 0px;
}

#sliderHeader {
    .slider-area {
        width: 43vw;
        position: absolute;
        min-width: 200px;
         right: 0;
        z-index: 5;
        bottom: 0px;
        padding: 20px;
        max-width: 500px;
        .header-swiper {
            user-select: none;
        }

        @media screen and (max-width:992px) {
           right: 0px;
           left: auto;
           bottom: 0px;
           position: static;
           width: 100%;
           margin: auto;
           .header_slider-card{
               height: 20px;
               border-radius: 10px;
               h6{
                   font-size: 3vw;
               }
           }
        }
    }
}

.slider-header-carousel {
    position: relative;
    z-index: 1;
    .carousel-side {
        height: 100%;
        .slider-preview {
            width: 100%;
            height: 100vh;
            position: relative;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.623);
            background-blend-mode: soft-light;
            background-repeat: no-repeat;
            background-size: cover;

            background-position: top left;
            .preview__text {
                position: absolute;
                bottom: 10%;
                padding: 30px;
                h1 {
                    font-size: 50px;
                    color: $red;
                    font-weight: 800;
                }
                p {
                    font-size: 20px;
                }
              @media screen and (max-width:992px) {
                  position: static;
              }
            }
        }
    }

    .advantage-text {
        button {
            color: red;
            .iconify {
                color: red !important;
            }
        }
    }
}

#all_membership {
    .membership__large {
        align-items: center;
        position: relative;
        z-index: 1;
        .large__card {
            position: relative;

            .featured-list {
                li {
                    font-weight: 500;
                    color: $red;
                    list-style: none;
                    padding: 7px 0px;
                    position: relative;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        background: url('https://api.iconify.design/eva/checkmark-circle-2-fill.svg?color=red') no-repeat center center / contain;
                        left:-30px;
                    }
                }
            }
            .corner-budge {
                position: absolute;
                top: 5px;
                right: -30px;
                transform: rotate(37deg);
                
            }

            @media screen and (max-width:450px) {
                overflow: hidden;
                
            }
        }
    }
}
